<% provide(:title, @partner.partner_name) %>
<h1> <span class="partner"><%= @partner.partner_name %></span> </h1>
<div class="row">
  <aside class="col-md-4">
    <section class="partner_info">
      <h1>
        Description :
      </h1>
      <p>
        <span class="description"><%= @partner.description %></span>
      </p>
      <h2>
        <%= link_to "Book!", book_path(partner_id: params[:id]), class: "btn btn-lg btn-primary" %>
        <%= link_to "Write a feedback", feed_path(partner_id: params[:id]), class: "btn btn-lg btn-primary" %>
      </h2>
    </section>
  </aside>
  
  <!--<div class="col-md-8">-->
  <!--  <% if @partner.feedbacks.any? %>-->
  <!--    <h3>Feedbacks (<%= @partner.feedbacks.count %>)</h3>-->
  <!--    <ol class="feedbacks">-->
  <!--      <%= render @partner.feedbacks %>-->
  <!--    </ol>-->
  <!--  <% end %>-->
  <!--</div>-->
  
  <div class="col-md-12">
    <div class="reviews">
      <h3> Reviews (<%= @partner.reviews.count %>) </h3>
      <div><%= link_to "Add Reviews", new_partner_review_path(@partner), class: "btn-custom" %></div>
      <ol class="feedbacks">
        <%= render @partner.reviews %>
      </ol>
      </h3>
    </div>
  </div>
</div>