<% provide(:title, @partner.partner_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="partner_info">
      <h1>
        <span class="partner"><%= link_to @partner.partner_name, @partner %></span>
        <span class="description"><%= @partner.description %></span>
        </h1>
    </section>
    
  </aside>
  <div class="col-md-8">
    <%= render 'book' if logged_in? %>
    <% if @partner.feedbacks.any? %>
      <h3>Feedbacks (<%= @partner.feedbacks.count %>)</h3>
      <ol class="feedbacks">
        <%= render @partner.feedbacks %>
      </ol>
    <% end %>
  </div>
</div>