<% provide(:title, @partner.partner_name) %>
<h1> <span class="partner"><%= @partner.partner_name %></span> </h1>
<div class="row">
  <aside class="col-md-4">
    <section class="partner_info">
      <h1>
        Description :
      </h1>
      <p>
        <span class="description"><%= @partner.description %></span>
      </p>
      <h2>
        <%= link_to "Book!", book_path(partner_id: params[:id]), class: "btn btn-lg btn-primary" %>
        <%= link_to "Add a review", feed_path(partner_id: params[:id]), class: "btn btn-lg btn-primary" %>
      </h2>
    </section>
  </aside>
</div>
  <div class="col-md-12">
    <% if @partner.feedbacks.any? %>
      <h3>Reviews (<%= @partner.feedbacks.count %>)</h3>
      <ol class="feedbacks">
        <%= render @partner.feedbacks %>
      </ol>
    <% end %>
  </div>
</div>