<li class= "review">
  <span class="user"><%= review.user.name %></span>
  <span class="review-rating" data-score="<%= review.rating %>"></span>
  <span class="comment"><%= review.comment %></span>
  <% if logged_in? %>
    <% if current_user == review.user %><br/>
      <div class="links btn-group">
        <%= link_to "Edit", edit_partner_review_path(review.partner, review), class: "btn btn-custom" %>
        <%= link_to "Delete", partner_review_path(review.partner, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
      </div>
    <% end %>
  <% end %>
</li>
  